@import "../../../../styles/variables.scss";

.user {
  border: 1px solid $base-color;
  border-radius: 5px;
  padding: 5px;
  width: 28%;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__box {
    display: flex;
    padding: 5px;
  }
  &__data {
    margin: 5px;
    overflow-x: scroll;
  }
  &__name {
    font-weight: bold !important;
    padding-bottom: 4px;
    cursor: pointer;
  }
  &__status {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &__image {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid $color-green;
    object-fit: cover;
    // width: 60px;
    // height: 60px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__button {
    padding: 10px !important;
    text-transform: none !important;
    font-size: 13px;
    width: 40%;
    &:hover {
      transform: scale(1.1);
      background-color: transparent !important;
      border: transparent !important;
    }
  }
}
