@import '../../styles/variables.scss';

.button {
  border-radius: 5px;
  border: 1px solid $color-green;
  background-color: transparent;
  font-family: Handlee;
  cursor: pointer;
  &:hover {
    color: $color-green;
    border: 1px solid $base-color;
  }
}
