@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Handlee&display=swap");

.App {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 15px;
  margin-bottom: 20px;
  grid-template-areas:
    "header header"
    "nav content";
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
