@import '../../../styles/variables.scss';

.user {
  padding: 30px 0 50px 0;
  &__item {
    gap: 50px;
  }
  &__name {
    .MuiTypography-root {
      font-weight: bold !important;
    }
  }
  &__link {
    &:hover {
      color: $color-green;
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px;
  }
}
