@import '../../styles/variables.scss';

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 185px;
}

.not-active {
  &::before {
    content: none !important;
  }
}
