@import '../../styles/variables.scss';

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  &__content {
    width: 680px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transform: scale(0.5);
    transition: 0.9s all;
    width: 50vw;
    &-active {
      transform: scale(1);
    }
  }
  &__box {
    display: flex;
    padding: 5px;
  }
  &__avatar {
    margin-right: 45px;
  }
  &__data {
    margin: 5px;
    & > li {
      padding-bottom: 15px;
    }
    &-name {
      font-size: 23px;
      margin-bottom: 20px;
    }
    &-span {
      font-weight: bold !important;
    }
    &-icon {
      width: 25px;
      height: 25px;
    }
    &-contacts {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-status {
      line-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  &__image {
    padding: 2px;
    border-radius: 50%;
    border: 1px solid $color-green;
    object-fit: cover;
    width: 160px;
    height: 160px;
  }
  &__contact {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px;
  }
}

.activeModal {
  opacity: 1;
  pointer-events: all;
}
