@import "../../../styles/variables.scss";

.user {
  &__box {
    display: flex;
    flex-direction: column;
    width: 79%;
  }
  &__item {
    display: grid !important;
    grid-template-columns: 36% 64%;
  }
  &__name {
    .MuiTypography-root {
      font-weight: bold !important;
    }
  }
  &__social {
    width: 60%;
  }
}
