@import "../../../styles/variables.scss";

.user {
  &__foto {
    margin-right: 40px;
  }
  &__box {
    display: flex;
    flex-direction: column;
    width: 69%;
  }
  &__item {
    display: grid !important;
    grid-template-columns: 36% 64%;
  }
  &__name {
    .MuiTypography-root {
      font-weight: bold !important;
    }
  }
  &__link {
    &:hover {
      color: $color-green;
    }
  }
  &__contact {
    display: flex;
    width: 0;
    align-items: center;
    height: 50px;
    gap: 10px;
  }
}
