@import '../../styles/variables.scss';

.header {
  grid-area: header;
  padding: 15px;
  background-color: $base-color-gray;
  text-align: left;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 35px;
  margin-left: 2%;
}

.wrapperLogo {
  gap: 20px;
}

.text {
  color: $color-green;
  font-size: 23px;
}
