@import "../../styles/variables.scss";

.header {
  grid-area: header;
  padding: 15px;
  background-color: $base-color;
  text-align: left;
  border-radius: 5px;
  &__img {
    width: 40px;
    height: 35px;
    margin-left: 2%;
  }
  &__text {
    font-family: Handlee;
    color: $color-green;
    font-size: 23px;
  }
}
