@import '../../styles/variables.scss';

.footer {
  grid-area: footer;
  background-color: $base-color-gray;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.logo {
  float: right;
}

.img {
  width: 25px;
  height: 19px;
}

.text {
  font-size: 15px !important;
}
