@import "../../styles/variables.scss";

.footer {
  grid-area: footer;
  background-color: $base-color;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  &__logo {
    float: right;
  }
  &__img {
    width: 25px;
    height: 19px;
  }
  &__text {
    font-size: 15px !important;
  }
}
