@import "../../../styles/variables.scss";

.post {
  padding: 25px;
  border: 1px solid $base-color;
  border-radius: 5px;
  margin: 0 0 15px 25px;
  display: flex;
  justify-content: space-between;
  &__wrap-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
  }
  &__icon {
    opacity: 0.9;
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.red {
  color: red;
}
