@import "../../styles/variables.scss";

.content {
  grid-area: content;
  &-posts {
    padding-left: 25px;
    margin-bottom: 45px;
    &-label {
      font-family: Handlee;
      font-weight: bolder;
      font-size: 20px;
      color: $color-green;
      padding-bottom: 20px;
      display: block;
    }
    &-texarea {
      padding: 25px;
      width: 100%;
      min-height: 150px;
      border-radius: 5px;
      border: 1px solid $base-color;
      margin-bottom: 25px;
    }
    &-send {
      padding: 15px 10px;
      border-radius: 5px;
      border: 1px solid $color-green;
      background-color: transparent;
      font-family: Handlee;
      font-size: 18px;
      font-weight: bolder;

      &:hover {
        color: $color-green;
        border: 1px solid $base-color;
      }
    }
  }
  &-wall {
    padding: 25px 50px;
    border: 1px solid $base-color;
    border-radius: 5px;
    margin-left: 25px;
    &-header {
      font-size: 15px;
      padding-bottom: 25px;
    }
  }
}
